

{{> head}}


     {{> navbar }}


    <div class= "row">

        <div class="col-8">
        
        <h1>Asadito...</h1>

        <p>
            cuando te vas a hacer un asadito
        </p>
        
        </div>


    </div>




    <div class="col-4">
        <img src="assets/img/asado.jpg" class="img-thumbnail">
    </div>



   {{> footer}}