

{{> head}}

     {{> navbar }}


    <div class="jumbotron">
        <h1 class="display-4">Hola {{capitalizar 'Joana Joanita'}} </h1>
        <p class="lead">Esto es un simple ejemplo de jumbotron en el index HTML</p>
        <hr class="my-4">
        <p> para usar el template ir a la siguiente Paguina https://getbootstrap.com/docs/4.5/components/jumbotron/ es la primera opccion.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>


{{> footer }}
